
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


* {
  --main-bg-color:  rgb(246, 237, 226);
  --forecast-bg-color: rgb(133, 250, 250);
}
main {
  border: 1px solid gray;
  border-radius: 20px;
  max-width: 375px;
  margin: auto;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
}
.current_day {
  display: grid;
  padding: 10px;
  grid-template-columns: 3fr 2fr;
  gap: 5px;
}

.current_day > h2 {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.current_picture {
  width: 85%;
  display: flex;
  margin: auto;
}

.current_temperature {
  font-size: 3rem;
  font-weight: 800;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  display: flex;
  justify-content: center;
  align-self: center;
  padding-right: 5px;
  text-shadow: 2px 2px 2px white;
}
.current_weather_description {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.current_weather_description > h3 {
  padding: 0 20px;
}
td:first-child {
  text-align: right;
}

td {
  font-size: 1.3rem;
}

td:nth-child(2) {
  color: blue;
  text-align: left;
  padding: 2px 0 2px 10px;
  font-weight: 800;
}

.forecast_area {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.forecast_picture {
  width: 80%;
  display: flex;
  margin: auto;
  margin-top: 0;
  padding-bottom: 3px;
}

.forecast_card {
  display: flex;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--forecast-bg-color);
  border-radius: 10px;
}

.forecast_card > h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  font-weight: 200;
  text-align: center;
}
.date {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  margin-top: 5px;
}